<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/gpt.css}"/>
    <title>Title</title>
</head>
<body>
<div class="container">
  <h1>삐빅 자기소개서를 작성했습니다!</h1>
  <p>[도전 정신]<br>
    입사 지원 회사를 선택하는 기준의 키워드는 ‘도전’입니다. 도전이란 시간이나 비용을 투자하여 현재의 자신을 뛰어넘는 미래 가치를 추구하는 활동이라고 생각합니다. 현재를 뛰어넘는 미래가치를 도모하고, 지속적으로 도전하는 기업에 입사하여 함께 성장하고 싶습니다.<br><br>SK는 지속적인 혁신과 기술적 진보를 통해 미래의 가치를 창출하는 기업으로, 제가 추구하는 '도전' 정신을 완벽하게 대변합니다. SK에서의 경력은 단순히 기술적 능력을 향상시키는 것을 넘어, 현재의 기준을 뛰어넘어 끊임없이 새로운 가능성을 탐색하고 구현하는 기회가 될 것입니다. 제 개인적인 열정과 전문성을 SK의 혁신적인 환경에 기여함으로써, 저 또한 회사와 함께 성장할 수 있는 발판을 마련하고자 합니다.

    <br><br>대학에서의 IT 전공 과정과 다양한 프로젝트 경험을 통해, 저는 기술적 문제 해결뿐만 아니라, 팀원들과의 협업을 통한 창의적인 아이디어 개발에도 탁월한 능력을 발휘해왔습니다. SK에서 저는 이러한 능력을 활용하여, 회사의 다양한 기술적 도전 과제에 직면하고, 그 속에서 새롭고 혁신적인 해결책을 제시하고자 합니다. 또한, SK의 지속 가능한 성장을 위해 기술적인 면뿐만 아니라, 사회적, 환경적 측면에서도 긍정적인 영향을 미치는 방안을 모색하는 데 기여하고 싶습니다.

    <br><br>이러한 과정을 통해, SK는 제가 가진 도전 정신을 발휘하고, 끊임없는 배움을 통해 개인적으로도 성장할 수 있는 이상적인 환경을 제공할 것입니다. 저는 SK와 함께 도전적인 목표를 설정하고, 이를 달성하기 위한 길을 개척하는 데 앞장서고자 합니다.</p><br><br>



    <br><br><input type="submit" value="자기소개서 다시 요청"><br><br>

  <form method="post" action="/page/goMain">
    <button type="submit">홈으로</button>
  </form>
  </form>
</div>
</body>
</html>