<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/MyResumeGroup.css}"/>
</head>
<body>
<form action="/resume/fix" method="post">
                <!--db 수정을 위한 id 값을 히든 스테이트로 저장-->
    <input type="hidden" id="id" name="id" th:value="${resume.id}">
    <div class="container" id="resumeContainer">

        <div class="form-group">
            <label for="company">지원 기업명</label>
            <input type="text" id="company" name="company" th:value="${resume.company}">
        </div>

        <div class="form-group">
            <label for="job">직무</label>
            <input type="text" id="job" name="job" th:value="${resume.job}">
        </div>

        <div class="form-group">
            <label for="resume">자기소개서</label>
            <textarea id="resume" name="resume" th:text="${resume.resume}" rows="10" oninput="countCharacters()"></textarea>
            <div id="characterCount" class="character-count">글자수: 0</div>
        </div>

        <div class="form-group">
            <button type="submit">저장하기</button>
        </div>
        <form method="post" action="/page/goMain">
            <button type="submit">자기소개서 목록</button>
        </form>
    </div>
</form>

<script th:src="@{/js/MyResumeCount.js}"></script>
</body>
</html>