<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/MyResume.css}"/>
</head>
<body>
<h1>나의 자기소개서</h1>

<div class="card-container" id="cardContainer">
    <!-- Thymeleaf를 사용하여 UserResume 객체 목록을 순회하며 카드를 생성 -->
    <div th:each="resume : ${resumes}" class="card-link">
        <div class="card">
            <h2 th:text="${resume.company}">기업 이름</h2>
            <p th:text="${resume.job}">자기소개서 내용</p>
        </div>
    </div>
</div>

<!-- 기존의 자기소개서 쓰기 버튼. 필요에 따라 수정 가능 -->
<button onclick="addCard()">자기소개서 쓰기</button>

<script src="/js/MyResume.js"></script>

</body>
</html>
